.latest{
    padding: 2rem;
}
.latest-text{
    margin-bottom: 3rem;
}
.jobs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0px auto;
  width: 90%;
}

.job {
  border-radius: 10px;
  background: #E9ECEF;
  padding: 20px;
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
}
.job-header {
  display: flex;
  justify-content: space-between;
}
.job-title {
  margin-bottom: 1rem;
  background: #cfd1d3;
  font-size: 0.8rem;
  border: none;
  padding: 7px;
  border-radius: 10px;
}
.job-date {
  margin-left: auto;
  font-size: 0.85rem;
}
.job > *:not(.job-header) {
  margin-bottom: 1rem;
}
.job-text {
  font-size: 0.85rem;
}
.job-buttons{
    display: flex;
}
.job-btn {
  display: flex;
  align-items: center;
  background: #cfd1d3;
  border: none;
  margin: 0 5px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.65rem;
}
.job-btn .icon {
  margin-right: 5px;
}
.job-details {
  font-size: 0.8rem;
  font-weight: 700;
  display: block;
}
.job-details:hover{
    color: #3d52a0;
}