/* Variables */
:root {
  --clr-primary-2: hsl(42, 78%, 60%);
  --clr-primary: hsl(43, 86%, 17%);
  --clr-white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --nav-background: transparent;
  --nav-background-scrolled: rgba(0, 0, 0, 0.8);
}

/* Nav */
nav {
  width: 100%;
  color: var(--clr-white);
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background: var(--nav-background);
  transition: var(--transition);
}

nav.scrolled {
  background: var(--nav-background-scrolled);
}

.logo {
  font-size: 1.3rem;
  color: #fff;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
  font-size: 1rem;
}

/* Nav button */
.nav-btn {
  background: transparent;
  border: none;
  width: 10rem;
  color: var(--clr-white);
  font-size: 1.5rem;
  cursor: pointer;
  display: none; 
}
.submit-btn {
  background: #ffc107 !important;
  border: none;
  width: 10rem;
  color: var(--clr-white);
  font-size: 1.5rem;
  cursor: pointer;
}