.blog {
  padding: 2rem 0;
}

.blog-center {
  text-align: center;
}

.blog-posts {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 2rem;
  cursor: pointer;
}

.blog-post {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.blog-post:hover{
    border: 2px solid #a57450;
}

.blog-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-content {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background: #E9ECEF;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.read-time, .post-date {
  
  font-size: 0.8rem;
}
.read-time{
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    border: none;
    background: #dee0e2;
}

.blog-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: left;
}

.blog-text {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1rem;
}

.blog-content a {
  text-decoration: none;
  font-weight: bold;
}

.blog-content a:hover {
  text-decoration: underline;
}
