/*Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root{
  --clr-primary-2: hsl(42, 78%, 60%);
  --clr-primary: hsl(43, 86%, 17%);
  --clr-grey: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --max-width: 1170px;
}

/* Global styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
img {
  width: 100%;
  display: block;
}
h1, h2, h3, h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1rem;
}
h4{
  font-size: 0.875rem;
}

/* More globals */
.btn {
  /* text-transform: uppercase; */
  background: var(--clr-white);
  color: #212121;
  padding: 10px 15px;
  font-size: 1rem;
  border: 0;
  /* width: 10rem; */
  outline: 0;
  border-radius: 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.section{
  margin-top: 3rem;
}
.section-center{
  margin: 0 auto;
  max-width: 1170px;
}
.section-title{
  margin-bottom: 2rem;
}
.bg-grey{
  background: var(--clr-grey);
}

@media (max-width: 1200px){
  .container{
    padding: 0 5%;
  }
  
}
